/*Google Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Finlandica:ital,wght@1,700&family=Gantari&family=Lobster&family=Noto+Sans&display=swap');

/*Full Website css*/
*{
    margin: 0;
    padding: 0;
}

/*Body Styles*/
body{
    font-family: 'Noto Sans', sans-serif;
}

/*Container Styles*/
.container{
    width: 1100px;
    margin: auto;
}
/*Hero Section Styles*/
.hero-section{
    display: flex;
    width: 100%;
    background-color: #161616;
    margin-top: 30px;
    color: white;
    border-radius: 15px;
}
/*Title Are styles*/
.title-area{
    display: flex;
    width: 531px;
    align-items: center;
    padding: 70px;
}
/*title area h1 Styles*/
.title h1{
    font-size: 50px;
}
/*title area p styles*/
.title p{
    font-size: 14px;
    margin-bottom: 35px;
}
/*title area a styles*/
.title a{
    background-color: #DD0000;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
/*banner image are styles*/
.banner-image-area img{
    width: 100%;
    height: 100%;
}
/*Blog Section Styles*/
.blog-section{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 300px 788px;
    grid-column-gap: 12px;
}
/*Blog Menu Styles*/
.blog-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #161616;
    height: 312px;
    border-radius: 15px;
}

/*Blog Menu button Styles*/
.blog-menu a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    align-items: center;
    background-color: white;
    margin: 20px;
    padding: 12px 20px;
    border-radius: 8px;
    color: #161616;
}

/*Blog Menu button active Styles*/
.blog-menu a.active{
    background-color: #DD0000;
    color: #FFFFFF;
}

/*Blog area Styles*/
.blog-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

/*Blog Styles*/
.blog{
    border: 1px solid darkgray;
    border-radius: 10px;
}

/*Blog Img Styles*/
.blog img{
    width: 100%;
}

/*Blog title Styles*/
.blog-title{
    padding: 15px;
}

/*Blog title a Styles*/
.blog-title a{
    font-size: 12px;
    padding: 5px;
    border: 1px solid darkgray;
    text-decoration: none;
    color: #161616;
    border-radius: 5px;
}

/*Blog title h4 Styles*/
.blog-title h4{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Blog duration span Styles*/
.duration-comment span{
    margin-right: 30px;
}

/*Fontawesome Styles*/
.fa-regular {
    margin-right: 10px;
}
/*Footer Styles*/
footer{
    width: 100%;
    background-color: #161616;
    height: 300px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 60px;
    margin-top: 60px;
}
/*Footer h1 Styles*/
footer h1{
    margin-bottom: 30px;
}
/*footer hr Styles*/
footer hr{
    border: .5px solid #282828;
    width: 80%;
    margin: auto;
}
/*footer nav Styles*/
nav{
    margin-top: 40px;
}
/*footer nav li Styles*/
nav li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    justify-content: center;
    margin: 0px 30px;
}
/*footer nav li a Styles*/
nav li a{
    list-style: none;
    display: flex;
    text-decoration: none;
    color: #B9B9B9;
}

@media only screen and (max-width: 688px) {
    .container{
        margin: auto;
    }
    .hero-section {
        display: grid;
        justify-content: center;
    }
    .title-area{
        text-align: center;
    }
    .banner-image-area{
        text-align: center;
    }
    .banner-image{
        width: 420px !important;
        margin-left: 50px;
    }
    .blog-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        grid-row-gap: 30px;
    }
    .blog-menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFFFFF;
    }
    .blog-menu a{
        text-decoration: none;
        display: block;
        text-align: center;
        align-items: center;
        background-color: white;
        margin: 20px;
        padding: 12px 20px;
        border-radius: 8px;
        border: 1px solid darkgray;
        color: #161616;
    }
    .blog-area{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
    }
    .blog{
        border: 1px solid darkgray;
        border-radius: 10px;
    }
    .blog img{
        width: 100%;
    }
    footer{
        width: 100%;
        background-color: #161616;
        color: #FFFFFF;
        height: 384px;
    }
    nav{
        width: 100%;
        text-align: center;
    }
    nav ul{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    nav ul li{
        flex-direction: column;
        display: grid;
        justify-content: center;
        margin: 19px 0px;
    }

}
